html {
  font-family: 'Lato', 'Lucida Grande', 'Lucida Sans Unicode', Tahoma, Sans-Serif;
  line-height: 1.5;
  font-size: 15px;
  font-weight: 400;
}

body {
  text-align: center;
  height: 100vh;
  width: 100vw;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

*, *:before, *:after {
  box-sizing: border-box;
}

p {
  padding: 0;
  margin: 0;
}

.container {
  max-width: 320px;
}

.row {
  display: flex;
  padding: 8px;
  justify-content: space-between;
  align-items: center;
}

.is-hidden {
  display: none
}

.main-screen {
  padding: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button {
  cursor: pointer;
  background: white;
  border: 1px solid #00000090;
  border-radius: 8px;
  padding: 16px;
  width: 100%;
}

.button:hover {
  background: #000000;
  color: white;
}

.play {
  cursor: pointer;
  background: white;
  border: 0;
  font-size: 2rem;
  height: 5rem;
  width: 5rem;
  border-radius: 2.5rem;
  border: 2px solid #00000090;
  display: flex;
  justify-content: center;
  align-items: center;
}

.play-logo {
  color: #00000090;
}

.input {
  border-radius: 8px;
  padding: 8px;
  margin: 8px;
  border: 1px solid #00000090;
}

.sound {
  cursor: pointer;
  background: white;
  border: 1px solid #00000090;
  border-radius: 8px;
  margin: 4px;
  height: 48px;
  width: 48px;
}

.center {
  justify-content: center;
}

.space-evenly {
  justify-content: space-evenly;
}

.score-list-container {
  height: 200px;
  margin: 32px 0;
  overflow: scroll;
}

.score-list {
  padding: 0;
  margin: 0;
}

.score-item {
  padding: 8px;
  display: flex;
  justify-content: space-between;
}

.score-item.current {
  border-bottom: 1px solid #00000090
}

